.add-product {
  min-height: 80vh;
}
.add-product-form {
  width: 50%;
}
@media (max-width: 768px) {
  .add-product-form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .add-product-form {
    width: 100%;
  }
}
